on init && property:ro.boot.hardware.sku=XT1672
    setprop ro.vendor.hw.ecompass true

on init && property:ro.boot.hardware.sku=XT1675
    setprop ro.vendor.hw.ecompass true

on early-boot
    # STML0 driver parameter permissions
    chown root oem_5004 /sys/module/stml0xx/parameters/irq_disable
    chmod 0660 /sys/module/stml0xx/parameters/irq_disable

    #STML0 device permissions
    chown system compass /dev/stml0xx
    chmod 0660 /dev/stml0xx
    chown system compass /dev/stml0xx_as
    chmod 0660 /dev/stml0xx_as
    chown system compass /dev/stml0xx_ms
    chmod 0660 /dev/stml0xx_ms

on boot
    # Change permission for fingerprint sensor
    chown system oem_5004 /sys/bus/spi/devices/spi6.0/nav
    chown system oem_5004 /sys/bus/spi/devices/spi6.0/clk_enable
    chown system oem_5004 /sys/bus/spi/devices/spi6.0/dev_enable
    chown system oem_5004 /sys/bus/spi/devices/spi6.0/irq
    chown system oem_5004 /sys/bus/spi/devices/spi6.0/irq_cnt
    chmod 0440 /sys/bus/spi/devices/spi6.0/irq_cnt

    # Change permission for type C params
    chown root oem_5004 /sys/devices/soc/78b6000.i2c/i2c-2/2-0022/CC_state
    chown root oem_5004 /sys/devices/soc/78b6000.i2c/i2c-2/2-0022/enable_vconn

on post-fs-data
    # Sensor Hub calibration data directory
    mkdir /data/vendor/sensorhub 0770 system compass

    # Setup folder for native to transfer data to NativeDropBoxAgent
    mkdir /data/vendor/sensorhub_logs 0730 system diag

# Start Sensor daemon
service vendor.motosh /vendor/bin/motosh boot
    class late_start
    user compass
    group compass misc input
    oneshot
