on property:ro.boot.hardware.sku=*
    # Set Hardware properties
    setprop ro.opengles.version 196610
    setprop ro.product.model ${ro.boot.hardware.sku}
    setprop ro.product.name montana
    setprop dalvik.vm.dex2oat-threads 6

on init
    setprop ro.hardware.sensors montana
    setprop ro.hw.imager 16MP

    # Variant properties
on property:ro.boot.radio=APAC
    setprop ro.hw.ecompass false

on property:ro.boot.radio=Brazil
    setprop ro.hw.ecompass false

on property:ro.boot.radio=EMEA
    setprop ro.hw.ecompass false

on property:ro.boot.radio=LATAM
    setprop ro.hw.ecompass true

on boot
    # Change permission for fingerprint sensor
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/nav
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/clk_enable
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/dev_enable
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/irq
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/irq_cnt
    chmod 0440 /sys/bus/spi/devices/spi1.0/irq_cnt
